<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<appSettings>
		<add key="ExeLogPath" value="D:\Projects\Console Applications (Legacy)\ProdData\Logs\{0:yyyyMMdd}\DataLoader.log"/>
		<add key="LogLevel" value="4"/>
		<add key="ArchivePath" value="D:\Projects\Console Applications (Legacy)\ProdData\Archive\{0:yyyyMMdd}"/>
		<add key="FromEmail" value=""/>
		<add key="ToEmail" value=""/>
		<add key="AlertMailId" value=""/>
		<add key="EmailGroupId" value="" />
		<add key="EmailPassword" value="" />
		<add key="ServerName" value="localhost"/>
		<add key="Port" value="587" />
		<add key="Host" value="smtp.gmail.com" />
	</appSettings>

	
	<connectionStrings>
		<add name="TransactionDB" connectionString="server=.; database=TransactionDB; Integrated Security=True; Connect Timeout=600"/>
	</connectionStrings>
	
	
</configuration>
